.Navbar {
  position: sticky;
  height: 50px;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  border: 2px solid green;
}

.logoImg {
  margin-left: 2%;
  margin-top: 2%;
  height: 40px;
}
